*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    margin: 0px;
    width: 100%;
}



h1,h2,h3,h4,h5,p{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}

header{
    background: #2DC7FF;
    padding: 15px; 
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 1.3em;
}

header .social{
    align-self: center;
}

header li{
    padding-left: 10px;
    padding-right: 10px;
}
header .fa{
    font-size: 1.4em;
    align-self: center;
}

.hero{
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 500px;
    background: #2DC7FF;
    text-align: center;
}

.hero{
    font-size: 3em;
    color: #fff;
}


.about{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40xp ;
    padding-bottom: 40px; 
}

.about .aboutHeader{
    flex: 1;
    text-align: center;
    padding:30px;
    
}
img{
    border-radius: 50%;
    width: 200px;
}
.container{
    display: flex;
    justify-content: space-around;
}

.left{
    flex: 1;
}
.left img{
    margin: 0 25%;
}

.right{
    flex: 2;
    align-self: center;
}

.right p{
    width: 75%;
}

.work{
    display: flex; 
    justify-content: space-around;
    align-items: flex-start;
    height: 400px;
    text-align: center;
    padding: 30px 
}

.work h2{
    flex: 1;
    text-align: center;
    padding:30px;
}

.contact{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact h2{
    text-align: center;
    padding: 30px;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}
input, textarea{
    padding-top: 10px;
    padding-bottom:10px;
}

footer{
    background-color: #000;
    color: #fff;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    padding-top: 20px;
    padding-bottom: 20px;}

footer span{
    color: red;
}


