html, body{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    display: inline-block;
}
.posLeft{
    float:left;
    position: absolute;
}

.posRight{
    float:right;
    display: block;
}
