body{
    margin: 0px;
    width: 100%;
}

h1,h2,h3,h4,h5,p{
    font-family: 'Nunito', sans-serif;
}

.center{
    margin: 0 auto; 
    align-self: center;
}


header{
    padding-left:30px; 
    padding-right: 30px;
    margin-top: 15px;
    display: flex;
}

header h2{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 2em;
}
.posLeft{
    align-self: flex-start;
 
}

.posRight{
    align-content: flex-end;
    justify-self: flex-end;
}

.social{
    color: #fff;
}
.social li{
    padding:0 10px 0 10px; 
    font-size: 1.5em;
}

li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
}



.hero{
    height: 700px;
    width: 100%;
    background-color:#2DC7FF;
    margin-top: -105px; 
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.hero h1{
    font-size: 4em; 
    color: #fff;
    text-align: center;
    align-self: center;
    flex: 1;
}

.aboutMe{
    display: flex;
    padding: 50px 0px 0px 0px;
}

.aboutMe img{
    width:200px;
    border-radius: 100%; 
}

footer{
    background-color: #000;
    color: #fff;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer span{
    color: red;
}


